@import 'tailwindcss';

@plugin 'daisyui' {
    themes: light --default, dark --prefersdark, dim, black, dracula;
}

@font-face {
    font-family: 'roboto';
    font-display: swap;
    src: url('../assets/fonts/Roboto.ttf') format('truetype');
}

@font-face {
    font-family: 'jetbrains';
    font-display: swap;
    src: url('../assets/fonts/JetBrainsMono.ttf') format('truetype');
}

@layer base {
    body {
        font-family: 'Roboto', sans-serif; /* Default font */
    }

    h1 {
        font-family: 'jetbrains';
        font-size: 3rem;
    }

    h2 {
        font-family: 'jetbrains';
        font-size: 2rem;
    }

    h3 {
        font-family: 'jetbrains';
        font-size: 1.5rem;
    }
}